/* Corrections styles for jQueryFormStyler's checkbox. */

/* Correction style of Bootstrap: */
.checkbox {
	padding: 0 !important;
}

/* Correction styles of jQueryFormStyler: */
.jq-checkbox {
	width: 20px;
	height: 20px;
}

.jq-checkbox .jq-checkbox__div {
	display: none;
}

.jq-checkbox.checked .jq-checkbox__div {
	display: block;
	top: 0;
	background: #fff;
	box-shadow: 0 0;
}
