/* addings for Twitter Bootstrap */
.panel {
	margin: 10px auto;
	padding: 10px;
}

.alert {
	margin-top: 10px;
}

legend + .alert {
	margin-top: 0;
}

/* diary styles */
body {
	padding-top: 50px;
}

.wait {
	pointer-events: none;
	opacity: 0.75;
}

.date-row {
	display: block;
	margin: 5px;
}

.date-row .label {
	padding-bottom: 0.2em;
	font-size: larger;
}

.button-column {
	font-size: larger;
}

.button-column.narrow,
.point-state-column {
	width: 30px !important;
}

.state-initial {
	font-weight: bold;
	color: rgb(51, 51, 51);
}

a.state-initial:hover,
a.state-initial:focus {
	color: rgb(51, 51, 51);
}

.state-satisfied,
.state-canceled {
	text-decoration: line-through;
}

.state-satisfied {
	color: green !important;
}

.state-not-satisfied {
	color: red !important;
}

.state-canceled {
	color: rgb(128, 128, 128) !important;
}

.dropdown .glyphicon {
	font-size: larger;
}

.table {
	margin-bottom: 0;
}

.grid-view {
	padding: 0 !important;
}

.pagination {
	margin: 10px 0;
}

#parameters-form,
#backup-list,
#login-form {
	margin-top: 15px;
}

.ui-spinner .form-control {
	box-shadow: none;
}

hr {
	margin-top: 0;
}

footer {
	font-size: smaller;
}

form + footer {
	margin-top: 15px;
}

.error-description {
	margin-top: 15px;
}

.navbar-form {
	margin-right: -15px;
	padding-right: 0;
}

.create-backup-button img {
	display: none;
	height: 18px;
}

.page-header {
	margin: 15px 0 10px;
	padding-bottom: 0;
}

.table-responsive {
	border: none;
	overflow: visible;
}

.create-backup-button {
	height: 32px;
}

.verify-code-container {
	margin: 5px 0 10px;
}

.verify-code {
	margin-right: 5px;
	cursor: pointer;
}

.verify-code + button {
	height: 60px;
	font-size: larger;
}
