/* Layout styles. */
.page-header {
	margin-top: 0;
	padding-bottom: 10px;
}

.page-header h4 {
	margin: 0;
}

.grid-view {
	padding: 0 !important;
}

.table {
	margin: 0;
}

#point-list .table {
	margin-bottom: 10px;
}

.pager {
	margin: 0 0 10px !important;
}

.pagination {
	margin: 10px 0 0;
}

footer {
	margin-top: 20px;
}

footer hr {
	margin: 0 0 10px;
}

.alert {
	margin-top: 10px;
}

/* Grid view styles. */
.table-responsive {
	border: none;
	overflow: visible;
}

.wait {
	opacity: 0.75;
	filter: alpha(opacity=75);
	pointer-events: none;
}

/* Navigation bar styles. */
body {
	padding-top: 70px;
}

.navbar-form {
	margin-right: 0 !important;
	padding-right: 0;
}

.navbar-btn img {
	display: none;
	height: 18px;
}

/* Verify code styles. */
.verify-code-container {
	margin: 5px 0 10px;
}

.verify-code {
	margin-right: 5px;
	cursor: pointer;
}

.verify-code + button {
	height: 60px;
	font-size: larger;
}

/* Date row styles. */
.date-row {
	display: block;
	margin: 5px;
}

.date-row .label {
	padding-bottom: 0.2em;
	font-size: larger;
}

/* Button column styles. */
.button-column {
	font-size: larger;
}

.button-column.narrow {
	width: 30px !important;
}

.button-column.point-state-column {
	font-size: inherit !important;
	text-align: left !important;
}

/* Point state menu styles. */
.dropdown .glyphicon {
	font-size: larger;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
	background: #428bca;
	color: white !important;
}

.state-initial {
	font-weight: bold;
	color: rgb(51, 51, 51);
}

a.state-initial:hover,
a.state-initial:focus {
	color: rgb(51, 51, 51);
}

.state-satisfied,
.state-canceled {
	text-decoration: line-through;
}

.state-satisfied {
	color: green !important;
}

.state-not-satisfied {
	color: red !important;
}

.state-canceled {
	color: rgb(128, 128, 128) !important;
}

/* Additional button styles. */
.input-group-addon {
	color: #428bca;
}

/* Footer styles. */
footer {
	font-size: smaller;
}
