.checkbox {
	padding-left: 0;
}

.jq-checkbox {
	width: 20px;
	height: 20px;
}

.jq-checkbox div {
	display: none;
	font-size: smaller;
}

.jq-checkbox.checked div {
	display: block;
	background: white;
	box-shadow: none;
}
