@import url(http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);

/* Global styles. */
body {
	/* texture found here: http://www.demilked.com/free-paper-textures-backgrounds/ */
	background: url('../images/global-background.png') 0 10px;
	font-family: 'Marck Script', sans-serif;
	color: rgb(66, 139, 202);
}

/* Navigation bar styles. */
.navbar {
	/* texture found here: http://www.demilked.com/free-paper-textures-backgrounds/ */
	background: url('../images/menu-background.png') repeat-x;
	border: none;
}

.navbar,
.navbar-collapse,
.navbar-form
{
	border: none;
}

.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus
{
	background: transparent;
	text-decoration: underline;
}

.navbar .navbar-brand,
.navbar .navbar-nav li a
{
	color: white;
}

.navbar-form {
	margin-right: 0 !important;
}

.navbar-collapse.collapsing,
.navbar-collapse.in
{
	background: rgba(128, 128, 128, 0.75);
}

/* Point grid view styles. */
.danger td {
	background-color: rgba(242, 222, 222, 0.75) !important;
}

.success td {
	background-color: rgba(223, 240, 216, 0.75) !important;
}

.date-row .label {
	background-color: transparent;
	text-decoration: underline;
	color: rgb(66, 139, 202);
}

.dropdown-menu {
	background-color: white !important;
}

.state-initial,
a.state-initial:hover,
a.state-initial:focus
{
	color: rgb(66, 139, 202) !important;
}

/* Additional button styles. */
.alert-danger {
	background-color: rgba(242, 222, 222, 0.75) !important;
}

.form-control {
	color: rgb(66, 139, 202) !important;
}

hr {
	border-color: rgb(66, 139, 202);
}
